html {
  overflow-x: hidden;
  background-color: #00204D;
}
main {
  overflow-x: hidden;
}
main .well:first-child {
  margin-top: 20px;
}
main .product-details ul {
  padding-left: 0;
  list-style: none;
}
main .product-details ul > li {
  padding-left: 2em;
  margin-bottom: 5px;
}
main .product-details ul > li:before {
  content: '\f087';
  font-family: FontAwesome;
  display: inline-block;
  width: 2em;
  margin-left: -2em;
}
main .product-details .carousel-indicators {
  border-radius: 5px;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAABtJREFUeNpiZGBgUGMgAjAxEAlGFVJHIUCAAQBN4gA6va9mOQAAAABJRU5ErkJggg==') /*../img/transparent_black.png*/;
  background-color: transparent;
  background-repeat: repeat;
}
main .product-details .product-3d .embed-responsive-16by9 {
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  background-image: url(../img/watermark-3d.png);
  background-repeat: repeat;
}
main .product-details .product-3d .embed-responsive-16by9 iframe {
  border: 1px solid #b0b0b0;
  border-radius: 10px;
}
main .product-details .product-3d .product-handle {
  padding-top: 5px;
  letter-spacing: 0.5em;
}
main .product-details .product-3d .product-handle span {
  font-size: 3em;
  cursor: pointer;
}
main .product-details .product-3d .product-handle span:hover {
  color: #FF9F00;
}
main .product-details > .row {
  margin-bottom: 15px;
}
main .product-details > .row #photos {
  max-width: 470px;
  margin-right: auto;
  margin-left: auto;
}
main .product-details > .row .product-scheme,
main .product-details > .row .product-onpipe,
main .product-details > .row .product-onfence {
  margin-right: auto;
  margin-left: auto;
  border: 1px solid #b0b0b0;
}
@media (max-width: 991px) {
  main .product-details > .row .product-scheme,
  main .product-details > .row .product-onpipe {
    margin-bottom: 15px;
  }
}
main .product-details > .row img {
  border-radius: 10px;
}
main .nav-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
main .nav-list > li {
  margin-bottom: 10px;
}
main .nav-list > li p {
  margin-bottom: 0;
}
main .nav-list > li:last-child {
  margin-bottom: 20px;
}
main .promo > div {
  width: 112px;
  height: 112px;
  padding: 30px;
  display: inline-block;
  border: 5px solid #FF9F00;
  border-radius: 100%;
  margin-bottom: 10px;
  margin-top: 10px;
  color: #FF9F00;
  background-color: #00204D;
}
.list-horizontal > li {
  display: inline-block;
}
.well {
  background-color: #fefefe;
  border-radius: 10px;
  border-color: #aaa;
}
.carousel .carousel-control.left {
  overflow: hidden;
  border-radius: 10px;
}
.carousel .carousel-control.right {
  overflow: hidden;
  border-radius: 10px;
}
.font-115 {
  font-size: 1.15em;
}