@font-face {
	font-family: calligraphmedium;
	src: url('../fonts/calligraphmedium.ttf') format('truetype'), url('../fonts/calligraphmedium.woff');
}

@text-color: #e0e0e0;

body {
	background-repeat: repeat;
	.img-retina('../img/bg_r1_67_ovr.jpg', '../img/bg_r1_134_ovr.jpg', 67px, 67px);
}

header,
footer {
	padding: 10px 5px;
	background-color: hsl(0, 0%, 5%);
	color: @text-color;

	.link {
		color: @text-color;

		&:hover {
			color: darken(@text-color, 10%);
		}
	}
}

header {
	background-image: linear-gradient(to top, #333, #0d0d0d);
	margin-bottom: 20px;

	.header-text {
		font-size: 1.25em;
	}

	.menu {
		margin-top: 5px;

		a {
			margin-right: 5px;
		}
	}

	.contacts {
		font-size: 1.3em;
	}
}



main {

	.product {
		img {
			margin-bottom: 10px;
			border-radius: 10px;
		}
	}
}

footer {
	background-image: linear-gradient(to bottom, #333, #0d0d0d);

	.contacts {
		font-size: 1.3em;
	}
}

.img-rounded-10 {
	border-radius: 10px;
}

.banner {
	.margin-bottom(20px);
}

.well {
	background-image: url(../img/semiTransparentWhite.png);
	background-color: transparent;
	background-repeat: repeat;
	border-radius: 10px;
}

.red-line {
	text-indent: 2em;
}

.font-calligraph {
	font-family: Calligraph;
}

.call-to-action {
	color: multiply(@text-color, #ff7171);
}

@font-face {
	font-family: 'Calligraph';
	src: url('../fonts/calligraphmedium.ttf');
	src: url('../fonts/calligraphmedium.woff') format('woff'), url('../fonts/calligraphmedium.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}

.margin-bottom(@x) {
	margin-bottom: @x;
}

.img-retina(@file-1x; @file-2x; @width-1x; @height-1x) {
	background-image: url("@{file-1x}");

	@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and ( min--moz-device-pixel-ratio: 2), only screen and ( -o-min-device-pixel-ratio: 2/1), only screen and ( min-device-pixel-ratio: 2), only screen and ( min-resolution: 192dpi), only screen and ( min-resolution: 2dppx) {
		background-image: url("@{file-2x}");
		background-size: @width-1x @height-1x;
	}
}
