@font-face {
  font-family: calligraphmedium;
  src: url('../fonts/calligraphmedium.ttf') format('truetype'), url('../fonts/calligraphmedium.woff');
}
html {
  overflow-x: hidden;
  background-color: #00204D;
}
header,
footer {
  padding: 10px 5px;
  background-color: #00204D;
  color: #E3E3E3;
}
header .link,
footer .link {
  color: #E3E3E3;
}
header .link:hover,
footer .link:hover {
  color: #cacaca;
}
header .header-text {
  font-size: 1.25em;
}
header .menu {
  margin-top: 5px;
}
header .menu a {
  margin-right: 5px;
}
header nav.visible-xs-block a.btn {
  margin-top: 10px;
}
header nav.visible-xs-block .fa-bars {
  font-size: 33px;
}
header nav.visible-xs-block #menu-xs ul {
  list-style: none;
  font-size: 1.1em;
  margin: 15px 0 0 0;
  padding: 0;
}
header nav.visible-xs-block #menu-xs ul li {
  margin-bottom: 5px;
}
header .contacts {
  font-size: 1.15em;
}
@media (min-width: 992px) {
  header .contacts {
    font-size: 1.3em;
  }
}
main {
  background-color: #FFF5E6;
  overflow-x: hidden;
}
main .well:first-child {
  margin-top: 20px;
}
main .product img {
  margin-bottom: 10px;
  border-radius: 10px;
}
@media (max-width: 767px) {
  main .product .carousel {
    max-width: 380px;
    margin-left: auto;
    margin-right: auto;
  }
}
main .product-details .carousel-indicators {
  border-radius: 5px;
  background-image: url(../img/transparent_black.png);
  background-color: transparent;
  background-repeat: repeat;
}
main .product-details .product-3d .embed-responsive-16by9 {
  width: 80%;
  margin-right: auto;
  margin-left: auto;
}
main .product-details .product-3d .embed-responsive-16by9 iframe {
  border: 1px solid #b0b0b0;
  border-radius: 10px;
}
main .product-details .product-3d .product-handle {
  padding-top: 5px;
  letter-spacing: 0.5em;
}
main .product-details .product-3d .product-handle span {
  font-size: 3em;
  cursor: pointer;
}
main .product-details .product-3d .product-handle span:hover {
  color: #FF9F00;
}
main .product-details > .row {
  margin-bottom: 15px;
}
main .product-details > .row #photos {
  max-width: 470px;
  margin-right: auto;
  margin-left: auto;
}
main .product-details > .row .product-scheme,
main .product-details > .row .product-onpipe,
main .product-details > .row .product-onfence {
  margin-right: auto;
  margin-left: auto;
  border: 1px solid #b0b0b0;
}
@media (max-width: 991px) {
  main .product-details > .row .product-scheme,
  main .product-details > .row .product-onpipe {
    margin-bottom: 15px;
  }
}
main .product-details > .row img {
  border-radius: 10px;
}
main .nav-list {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 20px;
}
main .nav-list > li {
  margin-bottom: 10px;
}
main .nav-list > li p {
  margin-bottom: 0;
}
main .nav-list > li:last-child {
  margin-bottom: 20px;
}
footer .contacts {
  font-size: 1.3em;
}
#bg1,
#bg2,
#bg3 {
  background-attachment: fixed;
  background-image: url(../img/bg_caps_three_3_500x.png);
}
#bg2 {
  background-image: url(../img/bg_caps_three_2_500x.png);
}
#bg3 {
  background-image: url(../img/bg_caps_three_1_500x.png);
}
.banner {
  margin-top: 20px;
}
.red-line {
  text-indent: 2em;
}
.well {
  background-image: url(../img/transparent_white.png);
  background-color: transparent;
  background-repeat: repeat;
  border-radius: 10px;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.carousel .carousel-control.left {
  overflow: hidden;
  border-radius: 10px;
}
.carousel .carousel-control.right {
  overflow: hidden;
  border-radius: 10px;
}
.font-calligraph {
  font-family: Calligraph;
}
.call-to-action {
  color: #FF9F00;
}
.carousel.vertical .carousel-inner {
  height: 100%;
  width: auto;
}
.carousel.vertical .carousel-inner > .item {
  width: auto;
  -moz-transition: 0.6s ease-in-out top;
  -o-transition: 0.6s ease-in-out top;
  -webkit-transition: 0.6s ease-in-out top;
  transition: 0.6s ease-in-out top;
}
@media all and (transform-3d), (-webkit-transform-3d) {
  .carousel.vertical .carousel-inner > .item {
    -moz-transition: 0.6s ease-in-out;
    -o-transition: 0.6s ease-in-out;
    -webkit-transition: 0.6s ease-in-out;
    transition: 0.6s ease-in-out;
  }
  .carousel.vertical .carousel-inner > .item.next,
  .carousel.vertical .carousel-inner > .item.active.right {
    -moz-transform: translate3d(0, 100%, 0);
    -ms-transform: translate3d(0, 100%, 0);
    -o-transform: translate3d(0, 100%, 0);
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    top: 0;
  }
  .carousel.vertical .carousel-inner > .item.prev,
  .carousel.vertical .carousel-inner > .item.active.left {
    -moz-transform: translate3d(0, -100%, 0);
    -ms-transform: translate3d(0, -100%, 0);
    -o-transform: translate3d(0, -100%, 0);
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    top: 0;
  }
  .carousel.vertical .carousel-inner > .item.next.left,
  .carousel.vertical .carousel-inner > .item.prev.right,
  .carousel.vertical .carousel-inner > .item.active {
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    top: 0;
  }
}
.carousel.vertical .carousel-inner > .active,
.carousel.vertical .carousel-inner > .next,
.carousel.vertical .carousel-inner > .prev {
  display: block;
}
.carousel.vertical .carousel-inner > .active {
  top: 0;
}
.carousel.vertical .carousel-inner > .next,
.carousel.vertical .carousel-inner > .prev {
  position: absolute;
  top: 0;
  width: 100%;
}
.carousel.vertical .carousel-inner > .next {
  top: 100%;
}
.carousel.vertical .carousel-inner > .prev {
  top: -100%;
}
.carousel.vertical .carousel-inner > .next.left,
.carousel.vertical .carousel-inner > .prev.right {
  top: 0;
}
.carousel.vertical .carousel-inner > .active.left {
  top: -100%;
}
.carousel.vertical .carousel-inner > .active.right {
  top: 100%;
}
@font-face {
  font-family: 'Calligraph';
  src: url('../fonts/calligraphmedium.woff') format('woff'), url('../fonts/calligraphmedium.woff2') format('woff2'), url('../fonts/calligraphmedium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}