@import (once) 'variables.less';

.card {
	border: 1px solid @well-border-color;
	border-top-left-radius: @container-border-radius;
	border-top-right-radius: @container-border-radius;
	overflow: hidden;
	background-color: @well-background-color;
	margin-bottom: @content-spacing;
	display: block;
	color: inherit;
	text-decoration: none;
	z-index: 100;

	img {
		border-bottom: 1px solid #ccc;
	}

	h2 {
		font-size: 24px;
		padding-left: 10px;
		padding-right: 10px;
		text-align: center;
	}

	div {
		padding-left: 10px;
		padding-right: 10px;
	}

	div.btn {
		border-radius: 0;
		border-left: none;
		border-right: none;
		border-bottom: none;
	}

	&:hover,
	&:visited,
	&:focus {
		color: inherit;
		text-decoration: none;
	}

	@media (min-width: @screen-sm-min) {
		h2 {
			height: 52px;
		}

		p {
			height: 60px;
		}
	}

	@media (min-width: @screen-md-min) {
		transition: all ease-in-out 0.1s;

		&:hover {
			transform: scale(1.02);
			border-color: #2e6da4;
		}

		h2 {
			height: 78px;
		}

		p {
			height: 80px;
		}
	}

	@media (min-width: @screen-lg-min) {
		h2 {
			height: 52px;
		}

		p {
			height: 60px;
		}
	}
}

.bordered-column > .promo-item {
	height: auto;

	.title {
		font-size: 18px;
		margin: 10px 0;
		line-height: 1.1;
	}

	@media(min-width: @screen-sm-min) {
		height: 221px;
	}

	@media(min-width: @screen-md-min) {
		height: 181px;
	}

	@media(min-width: @screen-lg-min) {
		height: 161px;
	}
}
