@import (once) 'variables.less';

.card {
	border: 1px solid @well-border-color;
	border-top-left-radius: @container-border-radius;
	border-top-right-radius: @container-border-radius;
	overflow: hidden;
	background-color: @well-background-color;
	margin-bottom: @content-spacing;

	img {
		border-bottom: 1px solid #ccc;
	}

	h3 {
		padding-left: 10px;
		padding-right: 10px;
		text-align: center;
	}

	div {
		padding-left: 10px;
		padding-right: 10px;
	}

	a {
		border-radius: 0;
		border-left: none;
		border-right: none;
		border-bottom: none;
	}
		
		@media (min-width: @screen-sm-min) {
			h3 {
				height: 52px;
			}

			p {
				height: 60px;
			}
		}

		@media (min-width: @screen-md-min) {
			h3 {
				height: 78px;
			}
			
			p {
				height: 80px;
			}
		}

		@media (min-width: @screen-lg-min) {
			h3 {
				height: 52px;
			}

			p {
				height: 60px;
			}
		}
}

.bordered-column > .promo-item {
	height: auto;

	@media(min-width: @screen-sm-min) {
		height: 221px;
	}

	@media(min-width: @screen-md-min) {
		height: 181px;
	}

	@media(min-width: @screen-lg-min) {
		height: 161px;
	}
}
