@import (once) 'common.less';

#photos {
	max-width: 470px;
	.margin-center();
}

@media (min-width: @screen-sm-min) {
	p.lead {
		font-size: 19px;
	}
}

.product-list {
	th,
	td {
		text-align: center;
	}

	>tbody>tr>td {
		vertical-align: middle;
	}

	>tbody>tr>td:last-child {
		padding: 1px;
		width: 152px;
		min-width: 152px;
		max-width: 152px;
	}
}

.bordered-column > .product-promo-item {
	height: auto;

	@media(min-width: @screen-sm-min) {
		height: 100px;
	}

	@media(min-width: @screen-md-min) {
		height: 80px;
	}

	@media(min-width: @screen-lg-min) {
		height: 60px;
	}
}

#obj3d .embed-responsive-16by9 {
	background-image: url(../img/watermark-3d.png);
	background-repeat: repeat;
	margin-bottom: 15px;

	@media(max-width: @screen-sm-min) {
		margin-right: auto;
		margin-left: auto;
		background-size: 100px;
	}

	@media(min-width: @screen-sm-min) {
		background-size: 150px;
	}
}

#frame3d {
	border: 1px solid @well-border-color;
}

.item-data-scheme {
	height: auto;

	@media(min-width: @screen-md-min) {
		height: 380px;
	}

	@media(min-width: @screen-lg-min) {
		height: 440px;
	}
}
