@import (once) 'common.less';

#photos {
	max-width: 470px;
	.margin-center();
}

.product-list {
	th,
	td {
		text-align: center;
	}

	>tbody>tr>td {
		vertical-align: middle;
	}

	>tbody>tr>td:last-child {
		padding: 1px;
		width: 152px;
		min-width: 152px;
		max-width: 152px;
	}
}
