<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<system.web>
		<compilation debug="true" targetFramework="4.6"/>
		<httpRuntime targetFramework="4.6"/>
	</system.web>
	<system.webServer>
		<staticContent>
			<mimeMap fileExtension=".mtl" mimeType="text/plain" />
			<mimeMap fileExtension=".obj" mimeType="text/plain" />
			<mimeMap fileExtension=".dds" mimeType="application/octet-stream" />
			<!-- Conflicts with IIS Express in VS 2015-->
			<!--<mimeMap fileExtension=".woff2" mimeType="font/x-woff" />-->
		</staticContent>
		<!--<httpCompression directory="%SystemDrive%\inetpub\temp\IIS Temporary Compressed Files">
			<scheme name="gzip" dll="%Windir%\system32\inetsrv\gzip.dll"/>
			<staticTypes>
				<add mimeType="text/*" enabled="true"/>
				<add mimeType="message/*" enabled="true"/>
				<add mimeType="application/javascript" enabled="true"/>
				<add mimeType="*/*" enabled="false"/>
			</staticTypes>
		</httpCompression>
		<urlCompression doStaticCompression="true"/>-->
	</system.webServer>
</configuration>